* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
}

.galery {
    position: relative;
    display: flex;
    flex-direction: row;
}

.box-warp{
    position: relative;
    min-width: 360px;
    height: 180px;
    margin: 20px;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
